.baguetteBox-button {
  background-color: rgba(195, 226, 221, 1);
  color: #fff;

  svg {
    stroke: rgba(255,255,255,1);
  }
}

#next-button {
  box-shadow: -20px 0 127px 55px black;
}

#baguetteBox-overlay .full-image figcaption {
  line-height: 3;
}
