<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{account.name}} Scrollytelling archive</title>
    <link rel="preload" as="style" href="/archive/archive.css">
    <link rel="stylesheet" href="/archive/archive.css">
    <link rel="preload" href="/archive/archive.js" as="script">
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom (RSS) Feed" />
    <link rel="alternate" type="application/json" title="JSON" href="index.json">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#c3e2dd">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#c3e2dd">
    <meta name="author" content="Joost Baaij">
    <meta property="og:title" content="{{ account.name }} Scrollytelling archive">
    <meta property="og:description" content="Scrollytelling was Software-as-a-Service for creating engaging multimedia stories. You are looking at the archived works of {{ account.name }} published on Scrollytelling.">
  </head>

  <body>

    <span id="top"></span>

    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-10-desktop is-offset-1-desktop">
              <h1 class="title is-2 is-spaced">{{ account.name }}</h1>
              <h2 class="subtitle is-4">Scrollytelling archive</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="{{ id }}">
      <div class="container">
        <div class="columns">
          <div class="column is-10-desktop is-offset-1-desktop">
            <div class="content" id="scrollies">
              <div class="box">
                <div class="field">
                  <label class="label">Search title or author</label>
                  <div class="control">
                    <input class="input search" type="search" placeholder="Abby Rozenhofje">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Sort by</label>
                  <div class="control">
                    <button class="button is-light sort" data-sort="title">Title</button>
                    <button class="button is-light sort" data-sort="author">Author</button>
                    <button class="button is-light sort" data-sort="published">Date</button>
                  </div>
                </div>
              </div>
              <p>{{ entries.length }} entries</p>
              <div class="box list">
                {{#entries}}
                <article class="media">
                  <div class="media-left gallery" title="Screenshots of «{{ title }}»">
                    {{#screenshots.pages}}
                    <div class="image-hover">
                      <a href="{{ screenshots.title_card }}" title="Preview mode: all pages presented as images in a slideshow">
                        <div class="overlay"></div>
                        <img src="/{{ slug }}/screenshots/{{ account.hostname }}-{{ slug }}_280.jpg" alt="{{ title }} screenshot">
                        <div class="stats">Preview {{ screenshots.pages.length }} pages</div>
                      </a>
                    </div>
                    {{/screenshots.pages}}
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <small>
                        <time class="published" datetime="{{ published_at }}">{{ published_at }}</time>
                      </small>
                      <h2 class="title"><a hreflang="{{ locale }}" href="{{ slug }}">{{ title }}</a></h2>
                      {{#author}}<h4 class="subtitle author">{{ author }}</h4>{{/author}}
                      <p>{{{ summary }}}</p>
                    </div>
                  </div>
                </article>
                {{/entries}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-6-desktop">
            <img src="/archive/scrollytelling.png" alt="Scrollytelling">
            <p class="has-text-weight-bold">Scrollytelling was Software-as-a-Service for creating engaging multimedia stories.</p>
            <p>We've shuttered the business in January 2019, but nevertheless are very committed to keeping all stories available. You are looking at the archived works of {{account.name}}.</p>
        </div>
          <div class="column is-6-desktop">
            <div class="content">
              <h3>Archive</h3>
              <p>Curated on <time datetime="{{ archive.created_at }}">{{ archive.created_at }}</time>
                by {{#archive.curators}}<a href="mailto:{{ email }}">{{ name }}</a>{{/archive.curators}}.</p>
              <p>Also available as <a href="index.atom">RSS (Atom)</a> and <a href="index.json">JSON (JavaScript)</a>.</p>
	      <p>The authenticity of this archive is verifyable using these <a href="/SHA512SUMS" title="To verify, use this command: sha512sum -c SHA512SUMS">checksums</a>.</p>

	      <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">This archive</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.scrollytelling.com" property="cc:attributionName" rel="cc:attributionURL">Scrollytelling</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />Based on the {{ account.name }} stories at <a xmlns:dct="http://purl.org/dc/terms/" href="https://{{ account.hostname }}" rel="dct:source">{{ account.hostname }}</a>.</p>
	      <p>It means that you are free to copy parts of this archive (i.e. this page, the data files, and the screenshots), as long as you attribute them to us. Keep in mind that this applies to the archive only, <strong>not the stories themselves</strong>, whose creators overwhelmingly kept all rights reserved (meaning don't copy anything).</p>
            </div>
          </div>
        </div>

        <div class="columns" style="margin-top: 3rem; margin-bottom: 3rem;">
          <div class="column is-12-desktop has-text-centered">
            <p>Life is also death. ⚰️</p>
            <p><a href="https://www.scrollytelling.com">www.scrollytelling.com</a></p>
          </div>
        </div>

      </div>

      <div class="back-to-top">
        <a href="#top"><span>Back to Top</span></a>
      </div>
    </footer>
    <script src="/archive/archive.js"></script>
  </body>
</html>
