<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">

	<title>{{ account.name }}</title>
	<subtitle>Scrollytelling archive</subtitle>
	<link href="/index.atom" rel="self" />
	<link href="/index.html" />
	<id>urn:uuid:{{ archive.id }}</id>
	<updated>{{ archive.created_at }}</updated>
	<icon>/archive/scrollytelling.svg</icon>
	<logo>/archive/scrollytelling.png</logo>
	<generator uri="{{ archive.repository }}">Scrollytelling export</generator>

	{{#entries}}
	<entry>
		<title>{{ title }}</title>
		<link rel="alternate" type="text/html" href="{{{ canonical_url }}}" hreflang="{{ locale }}"/>
		<id>tag:scrollytelling.com,2018:{{ slug }}</id>
		<updated>{{ updated_at }}</updated>
		<published>{{ published_at }}</published>
		<summary>{{ summary }}</summary>
		<media:thumbnail url="/{{{ slug }}}/screenshots/{{{ account.hostname }}}-{{{ slug }}}.jpg" width="320" height="240"/>
		{{#author}}<author>
			<name>{{ author }}</name>
		</author>{{/author}}
		{{#credits}}<rights>{{ credits }}</rights>{{/credits}}

		{{#image_files}}
		<enclosure length="{{{ file_size }}}" type="{{{ content_type }}}" url="/{{{ path }}}" />
		<media:content url="/{{{ path }}}" fileSize="{{{ file_size }}}" type="{{{ content_type }}}"
		{{/image_files}}

		{{#video_files}}
		<enclosure length="{{{ file_size }}}" type="{{{ content_type }}}" url="/{{{ path }}}" />
		<media:content url="/{{{ path }}}" fileSize="{{{ file_size }}}" type="{{{ content_type }}}"
		{{/video_files}}

		{{#audio_files}}
		<enclosure length="{{{ file_size }}}" type="{{{ content_type }}}" url="/{{{ path }}}" />
		<media:content url="/{{{ path }}}" fileSize="{{{ file_size }}}" type="{{{ content_type }}}"
		{{/audio_files}}

	</entry>
	{{/entries}}

</feed>
