@charset "utf-8";

/* Coolors Exported Palette - coolors.co/fdc5f5-f7aef8-b388eb-8093f1-c3e2dd */
$color1: rgba(253, 197, 245, 1);
$color2: rgba(247, 174, 248, 1);
$color3: rgba(179, 136, 235, 1);
$color4: rgba(128, 147, 241, 1);
$color5: rgba(195, 226, 221, 1); // i.e. scrolly #c3e2dd

/* Customize Bulma using their predefined variables. */
$turquoise: $color5;
$blue: $color4;
$purple: $color3;
$cyan: $color2;

@import '../node_modules/bulma/bulma';
@import '../node_modules/baguettebox.js/dist/baguetteBox';
@import "./overrides/baguetteBox";

.content figure {
  margin-left: 0;
  margin-bottom: 1em;
  width: 140px;
}

.scrolly {
    border-radius: 6px;
    display: block;
    transition-duration: 86ms;
    transition-property: color;
    color: $black-bis;

    &:hover,
    &:hover h2 {
      color: $link;
    }
}

.image-hover {
  position: relative;
  overflow: hidden;

  .overlay {
    background: black;
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
  }

  &:hover .overlay {
    opacity: 0.5;
  }

  .stats {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
    color: white;
  }

  &:hover .stats {
    opacity: 1;
  }

}

.list {
  h2.title {
    margin-top: 0;
		margin-bottom: 0.8em;
  }

	p.subtitle {
		margin-bottom: 0.3em;
	}
}

.footer {
  position: relative;
  padding-bottom: 10rem;
}

.back-to-top {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: $white;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  a {
    display: block;
    background: $dark;
    padding: 1rem 1.5rem;;
    color: $white;

    &:focus,
    &:hover {
      background: $link;
    }
  }
}
